.footerContainer {
  height: 60vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.basContainer {
  width: "100%";
  height: "100%";
  background: "#E4ECF5";
  display: flex;
  justify-content: center;
  align-items: center;
}

.bas {
  color: black;
  font-size: 40.87px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: 20.43px;
  word-wrap: break-word;
}
.menu {
  width: "100%";
  height: "100%";
  background: "#E4ECF5";
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuContainer {
  display: flex;
  align-items: flex-start;
  gap: 50%;
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    height: 60vh;
    width: 100%;
    max-width: 99%;
  }

  .basContainer {
    width: "100%";
    height: "100%";
    background: "#E4ECF5";
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bas {
    color: black;
    font-size: 40.87px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    letter-spacing: 20.43px;
    word-wrap: break-word;
  }
  .menu {
    width: "100%";
    height: "100%";
    background: "#E4ECF5";
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menuContainer {
    display: flex;
    align-items: flex-start;
    gap: 50%;
  }
}

.menu .menu :hover {
  background-color: #e5e5e5;
}
