.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(60px);
  color: white;
  background-image: url("./pictures/Landing/lines.jpg");
  background-size: cover;
  background-position: bottom;
  font-weight: 600;
}

.OtherPageheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutUs {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-size: cover;
  background-position: bottom;
}

.infoRow {
  align-items: center;
}

.headers {
  font-size: calc(64px);
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-justify: inter-word;
  text-align: start;
  color: #9eb5cd;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.023%; /* 59.412px */
  letter-spacing: 25.86px;
}

.columnImage {
  width: 75%;
}

.navBarBrand {
  font-family: "Playfair Display", serif;
}

.paragraphs {
  font-size: calc(18px);
  font-weight: 300;
  font-family: "Inter", sans-serif;
  text-align: justify;
  text-justify: inter-word;
  line-height: 200%;
}

.HeadParagraphs {
  font-size: calc(18px);
  font-weight: 300;
  font-family: "Inter", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (max-width: 600px) {
  .paragraphs {
    font-size: calc(18px);
    font-weight: 300;
    font-family: "Inter", sans-serif;
    text-align: start;
    text-justify: inter-word;
    line-height: 150%;
  }
}

.landingContainer {
  box-shadow: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 10px;
}

.merinda {
  border-radius: 60px 0px 0px 60px;
  width: 75%;
}

.ian {
  border-radius: 0px 60px 60px 0px;
  width: 75%;
}

.portraits {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-size: cover;
  background-position: bottom;
}

.linkText {
  text-orientation: sideways;
  writing-mode: vertical-rl;
  z-index: 1;
}

.headerContainer {
  padding: 100px;
  height: 95vh;
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-position: center;
  background-image: url("./pictures/explore/explore.png");
}

.foreground {
  display: flex;
  background-color: #f7fcfc;
  justify-content: center;
  align-content: center;
  margin: 1em;
  width: 100%;
}

.foreground p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: black;
  margin: auto;
  text-align: center;
  z-index: 2;
}

.background {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  z-index: 0;
  overflow: hidden;
}

.background p {
  font-family: sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: #9eb5cd99;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.rowCol {
  display: flex;
  flex-direction: column;
}

.alignEverythingCenter {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: inherit;
}

.exploreP {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 10px;
  text-transform: uppercase;
}

.exploreRowCard {
  width: 400px;
}

.houseCardRows {
  min-width: max-content;
}
